@font-face {
    font-family: "Eina";
    src: url('fonts/Eina01-Bold.ttf') format('truetype');
    src: url('fonts/Eina01-Regular.ttf') format('truetype');
    src: url('fonts/Eina01-SemiBold.ttf') format('truetype');
  }

  .centered {margin-left: 1.9%;
    overflow:auto;}
  
  
  .column {
    margin: 3%;
  
      float: left;
      width: 27%;
    }
  /* The container */
  .container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    display: none;
  }
  
  /* Create a custom checkbox */
  .checkmark {
  
  
      background-color: white;
      border: 1px solid #184F8D;
    
    
    float: left;
  
    top: 0;
    left: 0;
    height:125px;
    padding-left: 1%;
    width: 350px;
    background-repeat: no-repeat;
    background-size:350px 250px;
    overflow: hidden;
  
  
  }
  
  .checkmark2 {
  
  
  background-color: white;
  border: 1px solid #184F8D;
  
  
  float: left;
  
  top: 0;
  left: 0;
  height:125px;
  padding-left: 1%;
  width: 350px;
  background-repeat: no-repeat;
  background-size:250px 350px;
  background-position: center top;
  overflow: hidden;
  
  
  }
  
  h2 {
    color: #184F8D;
    font-family: Eina;
    position: relative;
    font-size: 10px;
      text-align: center;
      line-height: 105%;
  
  }
  h3 {
    color: #184F8D;
    font-family: Eina;
    position: relative;
    font-size: 21px;
      text-align: center;
      line-height: 105%;
  
  }
  
  h1 {
    color: #184F8D;
    font-family: Eina;
    line-height: 80%;
  
    position: relative;
  font-size: 8px;
  text-align: center;
  bottom: 0;
  
  } 
              #bottom { 
                  position:absolute;                  
                  bottom:0;                          
                  right:0;                          
              } 
  
  /* On mouse-over, add a grey background color */
  
  
  /* When the checkbox is checked, add a #184F8D background */
  .container input:checked ~ .checkmark {
    background-color: #184F8D;
  }
  .container input:checked ~ .checkmark h2{
    color:white;
  }
  
  .container input:checked ~ .checkmark h1{
    color:white;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: relative;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
    display: none;
  }
  
  .container input:checked ~ .checkmark2 {
    background-color: #184F8D;
  }
  .container input:checked ~ .checkmark2 h2{
    color:white;
  }
  
  .container input:checked ~ .checkmark2 h1{
    color:white;
  }
  /* Create the checkmark2/indicator (hidden when not checked) */
  .checkmark2:after {
    content: "";
    position: relative;
    display: none;
  }
  
  /* Show the checkmark2 when checked */
  .container input:checked ~ .checkmark2:after {
    display: block;
    display: none;
  }
  
  /* Style the checkmark2/indicator */
  
  
  #content {
    position: fixed;
    z-index: 300;
  }
  #content img {
    position: fixed;
      top: 20px;
      left: 20px;
  }
  
  #content2 {
    position: fixed;
    z-index: 300;
  }
  #content2 img {
    position: fixed;
      top: 27px;
      right: 185px;
  }
  .ribbon {
    position: fixed;
  }

  body {cursor: url("mouse.png"), default;}

  input[type=button], input[type=submit], input[type=reset] {
    background-color: white;
    color: #184F8D;
    font-family: Eina;
    border: 1px solid #184F8D;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  canvas{border: 2px solid #184F8D}

  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover { background-color: #184F8D; color:white  }

  .text {
    background-color:#ff0000;
    color:#fff;
    display:inline-block;
    padding-left:4px;
}
.arrow {
    border-style: dashed;
    border-color: transparent;
    border-width: 0.20em;
    display: -moz-inline-box;
    display: inline-block;
    /* Use font-size to control the size of the arrow. */
    font-size: 100px;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: middle;
    width: 0;
    background-color:#fff; /* change background color acc to bg color */ 
    border-left-width: 0.2em;
    border-left-style: solid;
    border-left-color:#184F8D;
    left:0.25em;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color:black;
  text-align: center;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}